Source: brace
Section: devel
Priority: extra
Maintainer: Sam Watkins <sam@nipl.net>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4), libx11-dev, libio-string-perl, libncurses5-dev

Package: brace
Architecture: any
Depends: libc6, ${perl:Depends}, libc6-dev | libc-dev, gcc (>= 3:3.3), g++ (>= 3:3.3), make, libio-string-perl, libx11-dev, libncurses5-dev
Description: the brace programming language
 Brace is a dialect of C which looks like python.  It has coroutines,
 hygenic macros and nice libraries, including graphics and music.
